

/* ==========================================================================
    7.0 feature Styling
   ========================================================================== */ 
   .left-dir-col {
    text-align: right
}

.left-dir-col .icon {
    float: right;
}

.left-dir-col .text {
    margin-right: 80px;
    overflow: hidden;
}

.right-dir-col .icon, .right-dir-col [class*=icon-] {
    float: left;
}
.right-dir-col .flx-container .icon, .right-dir-col .flx-container [class*=icon-] {
     margin: 0;
}
.right-dir-col .text {
    padding-left: 20px;
    overflow: hidden;
}

.left-dir-col .list,
.right-dir-col .list {
    transition: .6s;
    -webkit-transition: .6s;
    cursor: default;
    padding:10px; 
}
.left-dir-col.pad-40 .list,
.right-dir-col.pad-40 .list {
    padding:40px 10px; 
}
.shad-box-list{
    position: relative;
    left: 60px;
    z-index: 1;
    min-width: 500px;
}
.shad-box-list .list{
    box-shadow: 0 0 100px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.95);
    transition: 0.5s;
    cursor: pointer;
}
.shad-box-list .list:hover{
    transform: translateX(10px);
}
.feat-slide .owl-item:after {
    content: "";
    display: block;
    height: .25em;
    position: absolute;
    top: 100%;
    width: 0%;
    left: 50%;
    transform: translate(-50%);
    transition: all .5s;
    -webkit-transition: all .5s;
    background-size: 200% auto
}

.left-dir-col [class*=icon-],
.left-dir-col.icon,
.navbar-custom .right-nav {
    float: right
}
.shad-item:not(.light) .item{
    box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
    border-radius: 0px 30px 40px 40px;
    padding: 30px 40px;
    background: #fff;
    transition: 0.5s;
    cursor: pointer;
    background: rgba(255,255,255,.95);
}
.shad-item.light .item{
    border-radius: 10px;
    padding: 30px 40px;
    transition: 0.5s;
}
.shad-item .before-bg{
	width: 220px;
	height: 280px;
	border-radius: 0px 40px 40px;
	transform: skewY(8deg);
	transform-origin: left top 0px;
	top: 0px;
	position: absolute;
	z-index: -1;
}
.shad-item:not(.light) .item:hover{
	transform: translateY(-3px);
	box-shadow: rgba(24, 32, 79, 0.25) 0px 100px 100px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
}
.shad-item:not(.light) [class*='col-']:hover .before-bg{
	transform: skewY(15deg);
	width: 200px;
}

.shad-item.style-2 .item{
    background: #F0F1FF;
    border:0;
}
.ft-list li{
	margin-top: 15px;
}
.ft-list li [class*="icon-"]{
	background: rgba(0,0,0,.1);
	height: 40px;
	width: 40px;
}
.ft-list li .text{
	padding-left: 10px;
	padding-top: 6px;
}
.gray-box .item{
    padding: 60px 30px;
    border-radius: 10px;
    background: #f6f9fe;
    transition: 0.5s;
    cursor: pointer;
}
.ft-sq-rad [class*="col-"]{
	padding: 0 40px;
}

.ft-sq-rad [class*="icon-bg"]{
	background: rgba(0,0,0,.1);
	border-radius: 30px;
    z-index: 1;
	position: relative;
	overflow: hidden;
}
.ft-sq-rad [class*="icon-bg"]:after{
    position: absolute;
    content: '';
    background: url("/static/image/bg-mesh.png") center no-repeat;
    z-index: -1;
    top: 0%;
    right: 0;
    left:0;
    bottom: 0;
}
.ft-bg-items{
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 20px;
}
.ft-bg-items .list{
    padding: 20px 0;
}
.ft-bdr [class*="icon-"] {
    position: relative;
}
.ft-bdr .list{
    padding: 15px 10px;
}
.ft-bdr .list:hover [class*="icon-"]:after{
    left: -10px;
    top: -10px;
}
.ft-bdr [class*="icon-"]:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 110%;
    width: 110%;
    border-radius: 50%;
    border:1px solid #1f0040;
    transition: .5s;
}
.ft-dark .item{
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 50px 20px;
}
.ft-dark .item .heading{
    font-size: 30px;
}
.ft-2col .item{
    padding-right: 50px; 
}
.ft-2col .item .heading{
    font-size: 30px;
}

/* ==========================================================================
   8.0 screenshot Styling
   ========================================================================== */
.screenshot .swiper-slide{
    width: 300px;
}



/* ==========================================================================
   9.0 Testimonial Styling
   ========================================================================== */
   .quote .quote-item{
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.1);
}
.quote .quote-item .quote-img{
    width: 50px;
}
.quote .quote-text {
    position: relative;
}
.quote .profile-img {
    float: left;
}
.quote .profile-img img{
    height: 60px;
    width: 60px;
    border-radius:50%;
    margin-right:  15px;
}
.quote .profile{
    overflow: hidden;
    line-height:10px;
    margin-top: 5px;
}
/* ==========================================================================
   10.0 Pricing Styling
   ========================================================================== */
.pricing-btn .toggle,
.toggler {
    display: inline-block;
    vertical-align: middle;
    margin: 10px
}

.pricing-btn .toggler {
    transition: .2s;
    font-weight: 700
}

.pricing-btn .toggler--is-active {
    color: #6d48e5
}

.pricing-btn .b {
    display: block
}

.pricing-btn .toggle {
    position: relative;
    width: 80px;
    height: 35px;
    border-radius: 100px;
    background-color: #6d48e5;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .05)
}

.pricing-btn .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6
}

.pricing-btn .check:checked~.switch {
    right: 2px;
    left: 57.5%;
    transition: .25s cubic-bezier(.785, .135, .15, .86);
    transition-property: left, right;
    transition-delay: .08s, 0s
}

.pricing-btn .switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 57.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .25s cubic-bezier(.785, .135, .15, .86);
    transition-property: left, right;
    transition-delay: 0s, .08s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

.pricing .model {
    height: auto;
    transition: .3s
}

.pricing .none {
    height: 0;
    overflow: hidden;
    opacity: 0
}

.pricing .pricing-table {
    transition: .5s;
    -webkit-transition: .5s;
    border-radius: 20px;

}
.pricing .pricing-table:not([class*="grdnt-"]){
    background: #fff;
    border: 1px solid aliceblue;
}

.pricing .pricing-table.feat {
    box-shadow: 0 1px 25px rgba(0, 0, 0, .1);
    border: 0
}

.pricing .pricing-header {
    padding: 40px 0;
}
.pricing .pricing-footer {
    padding: 30px 0;
}
.pricing .pricing-footer .btn{
    width: 80%;
}


/* ==========================================================================
   12.0 Faqs Styling
   ========================================================================== */
   .faq .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border: 0px;
}
.faq .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    border: 0px;
}

.faq .panel-title, .glyphicon{
    font-size: 16px;
    font-weight: 600;
}
.glyphicon{
    padding:8px;
    font-size: 24px;
}

.faq .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.faq .panel-title > a:hover{
    color: inherit;
}

.faq .more-less {
    color: #fff;
}

.faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0px;
}
.faq-items [class*="icon-bg"]{
    height: 25px;
    width: 25px;
    font-size: .7em
}