@import "./template.scss";

:root {
    --ser-primary: #4d1d67;
    --ser-secundary: #044158;
    --ser-tertiary: #143048;
    --ser-quaternary: #c2c2c2;
}


header .menu-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0 20px;
    @media(max-width: 767px) {
        grid-template-columns: 1fr;
    }

    &:before {
        content: none;
    } 
    .navbar-brand img {
        height: 70px;
        width: auto;
    }

    @media(min-width: 767px) {
        .menu-principal {
            display: flex;
            justify-content: end;
            align-items: center;
            
            .right-nav  {
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }
    }

}