{% extends "templates/base.html" %}
{% load static %}
{% block styles %}


{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block content %}
	<!-- banner -->
	<div class="hero bg-shape">
		<div class="hero-content">
			<div class="container">
				<div class="row">
					<div class="row">
						<div class="col-sm-5">
							<div class="intro-text grad-orange">
								<div class="meta-head clip-txt">Introducing Xappox</div>
								<h2>Make the world's software more accessible</h2>
								<div class="spce"></div>
								<p class="large">A gorgeous new interface keeps your canvas the focus while giving you all the power.</p>
								<div class="btn-holder">
									<a href="#" class="btn grdnt-orange">Download Now</a>
								</div>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="text-right img-pre">
								<img alt="" src="{% static 'image/img-1.png' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End Banner -->

<!--count -->
	<section class="ft-drk bg-shape-after sec-pad-lg text-center light">
		<div class="sec-pad-sm"></div>
		<div class="container">
			<div class="row">
				<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<h4>Join millions getting more mindful with Headspace</h4>
				</div>
				<div class="row ft-dark grad-orange pt-0">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-sm-4 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item">
								<div class="icon">
									<img alt="" src="{% static 'image/icon-4.png' %}">
								</div>
								<h5 class="heading">4.5 Stars</h5>
								<p>Averege Ratings</p>
							</div>
						</div>
						<div class="col-sm-4 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item">
								<div class="icon">
									<img alt="" src="{% static 'image/icon-5.png' %}">
								</div>
								<h4 class="heading">611.9K Ratings</h4>
								<p>On iOS and Google Play</p>
							</div>
						</div>
						<div class="col-sm-4 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item">
								<div class="icon">
									<img alt="" src="{% static 'image/icon-6.png' %}">
								</div>
								<h4 class="heading">66M Members</h4>
								<p>Across all platforms</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End -->


	<!-- Feature -->
	<section id="feature" class="sec-pad-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
						<h4>Your well-oiled machine doesn’t have to break due to complex processes</h4>
					</div>
					<div class="ft-2col res-center-sm row">
						<div class="col-sm-6 item">
							<div class="wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-12.png' %}">
								<div class="text">
									<h5 class="fw-500 heading">
										Tailor your profile We not only cater to those up
									</h5>
									<div class="spce"></div>
									<p>Your well-oiled machine doesn’t have to break down due to complex build processes, or lack of time to enforce consistency.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 item">
							<div class="wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-13.png' %}">
								<div class="text">
									<h5 class="fw-500 heading">
										Output optimized images with one click
									</h5>
									<div class="spce"></div>
									<p>Your well-oiled machine doesn’t have to break down due to complex build processes, or lack of time to enforce consistency.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End feature -->


	<!-- Video -->
	<section class="sec-pad-lg pt-0 light text-center video-over">
		<div class="container">
			<div class="row">
				<div class="video-wrapper rad grdnt-orange wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<img  alt="" src="{% static 'image/bg-video.png' %}">
					<div class="text-center btn-over grad-orange">
						<a class="btn-round grdnt-orange video" href="https://www.youtube.com/watch?v=iaj8ktgL3BY"><i class="fa fa-play" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- // -->


	<!-- Tools -->
	<section class="tools bg-grad-shad sec-pad-lg">
		<div class="sec-pad-lg pb-0">
			<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
				<h4>Get more from your existing tools</h4>
				<div class="spce"></div>
				<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
			</div>
			<div class="owl-carousel pb-0 tools-carousel wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-1.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-2.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-3.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-4.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-5.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-6.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-7.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-8.png' %}">
				</div>
			</div>
		</div>
	</section>
	<!-- // -->

	<!--Working Step -->
	<section class="step-section grdnt-orange bg-trans-4 sec-pad-lg light" id="step">
		<div class="container">
			<div class="row">
				<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<h4>3 simple steps to enjoy</h4>
				</div>
				<div class="steps text-center col-md-8 col-md-offset-2 grad-orange wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
					<div class="col-sm-4">
						<div class="step-list">
							<div class="number"><span class="clip-txt">1</span></div>
							<div class="icon-lg">
								<span class="ti-reddit"></span>
							</div>
							<h6 class="fw-500">
								Tailor your profile We not only cater to those up.
							</h6>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="step-list res-center-sm">
							<div class="number"><span class="clip-txt">2</span></div>
							<div class="icon-lg">
								<span class="ti-location-pin"></span>
							</div>
							<h6 class="fw-500">
								Explore nearby Whether you’re new to an area.
							</h6>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="step-list">
							<div class="number"><span class="clip-txt">3</span></div>
							<div class="icon-lg">
								<span class="ti-face-smile"></span>
							</div>
							<h6 class="fw-500">
								Make real connections We’re all about matching users.
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- // -->


	<!-- Overview -->
	<section class="about-section" id="overview">
		<div class="container">
			<div class="row sec-pad pb-0">
				<div class="col-md-10 col-md-offset-1">
					<div class="flx-container res-center-sm align-flx-center flx-off-xs row">
						<div class="col-sm-8 col-md-7 res-margin-sm">
							<div class="overview-img wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-10.png' %}">
							</div>
						</div>
						<div class="col-sm-4 col-md-5">
							<div class="overview-text wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<div class="text">
									<h4>Boost productivity without creativity</h4>
									<div class="spce"></div>
									<p>With a massive range of powerful new features with a gorgeous new interface, Our app is easier to use and more versatile than ever before.</p>
									<div class="spce sm"></div>
									<ul class="right-dir-col ft-list grad-orange">
	                                    <li class="clearfix">
	                                        <div class="icon-bg-sm">
	                                            <i class="ti-palette clip-txt"></i>
	                                        </div>
	                                        <div class="text">40+ design and code tutorials</div>
	                                    </li>
	                                    <li class="clearfix">
	                                        <div class="icon-bg-sm">
	                                            <i class="ti-bolt clip-txt"></i>
	                                        </div>
	                                        <div class="text">Inspiration from Apple iOS 7</div>
	                                    </li>
	                                    <li class="clearfix">
	                                        <div class="icon-bg-sm">
	                                            <i class="ti-power-off clip-txt"></i>
	                                        </div>
	                                        <div class="text">Available to the public, 100% FREE!</div>
	                                    </li>
	                                </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row sec-pad pt-0">
				<div class="col-md-10 col-md-offset-1">
					<div class="flx-container res-center-sm align-flx-center flx-off-xs row">
						<div class="col-sm-4 col-md-5 res-margin-sm">
							<div class="overview-text wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<div class="text">
									<h4>Create, collaborate, and celebrate</h4>
									<div class="spce"></div>
									<p>With a massive range of powerful new features with a gorgeous new interface, Our app is easier to use and more versatile than ever before.</p>
									<div class="spce"></div>
									<a href="#" class="btn grdnt-orange">Get It Now</a>
								</div>
							</div>
						</div>
						<div class="col-sm-8 col-md-7 res-margin-sm">
							<div class="overview-img wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-11.png' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- // -->


	<!-- Pricing -->
	<section id="pricing" class="sec-pad-lg bg-gray">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="pricing wrapper">
						<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<h4>Reasonable Pricing Plans</h4>
							<div class="spce"></div>
							<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
						</div>
						<div class="pricing text-center wow animated fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
							<div class="clearfix model">
								<div class="col-sm-4">
									<div class="pricing-table res-margin-sm">
										<div class="pricing-header">
											<div class="main-pricing">
												<h5>Free</h5>
												<h3 class="fw-400"><span class="rate">$0</span><span class="meta fw-300"> / month</span></h3>
											</div>
										</div>
										<div class="pricing-content">
											<div class="pricing-feature">
												<ul>
													<li>24/7 Support</li>
													<li>Free Update</li>
													<li>unimited download</li>
													<li>1 Year Licnese</li>
													<li>Source files</li>
												</ul>
											</div>
										</div>
										<div class="pricing-footer">
											<div class="pricing-footer">
												<a class="btn grdnt-orange" href="#">Try iT Now</a>
											</div>
										</div>
									</div>	
								</div>
								<div class="col-sm-4">
									<div class="pricing-table light grdnt-orange res-margin-sm">
										<div class="pricing-header">
											<div class="main-pricing">
												<h5>Popular Plan</h5>
												<h3 class="fw-400"><span class="rate">$20</span><span class="meta fw-300"> / month</span></h3>
											</div>
										</div>
										<div class="pricing-content">
											<div class="pricing-feature">
												<ul>
													<li>24/7 Support</li>
													<li>Free Update</li>
													<li>unimited download</li>
													<li>1 Year Licnese</li>
													<li>Source files</li>
												</ul>
											</div>
										</div>
										<div class="pricing-footer">
											<div class="pricing-footer">
												<a class="btn btn-white" href="#">Try iT Now</a>
											</div>
										</div>
									</div>	
								</div>
								<div class="col-sm-4">
									<div class="pricing-table res-margin-sm">
										<div class="pricing-header">
											<div class="main-pricing">
												<h5>Business Plan</h5>
												<h3 class="fw-400"><span class="rate">$100</span><span class="meta fw-300"> / month</span></h3>
											</div>
										</div>
										<div class="pricing-content">
											<div class="pricing-feature">
												<ul>
													<li>24/7 Support</li>
													<li>Free Update</li>
													<li>unimited download</li>
													<li>1 Year Licnese</li>
													<li>Source files</li>
												</ul>
											</div>
										</div>
										<div class="pricing-footer">
											<div class="pricing-footer">
												<a class="btn grdnt-orange" href="#">Try iT Now</a>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Pricing -->

	<!-- FAQS-->
	<section class="sec-pad-lg bg-dark light">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="faq-wrapper row">
							<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
								<h4>Frequently Asked Quetions</h4>
									<div class="spce"></div>
									<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
							</div>
							<div class="row">
								<div class="faq-items right-dir-col col-md-8">
									<div class="col-sm-6 res-margin-sm wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>How to install ?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="col-sm-6 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Is this free ?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="spce lg"></div>
									<div class="col-sm-6 res-margin-sm wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Where i can get this?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="col-sm-6 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Can i get refund ?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="spce lg"></div>
									<div class="col-sm-6 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Validity of use?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="col-sm-6 res-margin-sm wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>How to use this?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".3s">
									<img alt="" src="{% static 'image/img-faq.png' %}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--  -->


	<!--Call To Action -->
	<section class="grdnt-orange sec-pad bg-trans-4 light">
		<div class="container">
			<div class="row">
				<div class="text-center sec-pad-sm pt-0 section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<h4>Join of our community of 20,0000 users of the world’s leading organizations</h4>
					<div class="btn-holder">
						<a href="#"><img alt="" src="{% static 'image/is-badge.png' %}"></a>
						<a href="#"><img alt="" src="{% static 'image/an-badge.png' %}"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End count -->

	<!--Count -->
	<section class="count-section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 count-over">
					<div class="row res-center-sm text-center grad-orange">
						<div class="col-sm-3 res-center-sm wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">789</span><span>M</span></h4>
									<p>Total Downloads</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">99</span><span>%</span></h4>
									<p>Page Speed</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 res-center-sm wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">10</span><span>+</span></h4>
									<p>Years Top Rating App</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">100</span><span>M</span></h4>
									<p>Happy Users</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End count -->


	<!-- Testimonial -->
	<section class="testimonial sec-pad-lg">
		<div class="text-center wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
			<h4>Trusted by teams at over 200,000 </h4>
			<div class="spce"></div>
			<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
		</div>
		<div class="owl-carousel sec-pad pb-0 grad-yellow quote  quote-wrapper wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-2.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-3.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-2.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-3.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testimonial --><!--count -->
	<section class="ft-drk bg-shape-after sec-pad-lg text-center light">
		<div class="sec-pad-sm"></div>
		<div class="container">
			<div class="row">
				<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<h4>Join millions getting more mindful with Headspace</h4>
				</div>
				<div class="row ft-dark grad-orange pt-0">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-sm-4 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item">
								<div class="icon">
									<img alt="" src="{% static 'image/icon-4.png' %}">
								</div>
								<h5 class="heading">4.5 Stars</h5>
								<p>Averege Ratings</p>
							</div>
						</div>
						<div class="col-sm-4 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item">
								<div class="icon">
									<img alt="" src="{% static 'image/icon-5.png' %}">
								</div>
								<h4 class="heading">611.9K Ratings</h4>
								<p>On iOS and Google Play</p>
							</div>
						</div>
						<div class="col-sm-4 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item">
								<div class="icon">
									<img alt="" src="{% static 'image/icon-6.png' %}">
								</div>
								<h4 class="heading">66M Members</h4>
								<p>Across all platforms</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End -->


	<!-- Feature -->
	<section id="feature" class="sec-pad-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
						<h4>Your well-oiled machine doesn’t have to break due to complex processes</h4>
					</div>
					<div class="ft-2col res-center-sm row">
						<div class="col-sm-6 item">
							<div class="wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-12.png' %}">
								<div class="text">
									<h5 class="fw-500 heading">
										Tailor your profile We not only cater to those up
									</h5>
									<div class="spce"></div>
									<p>Your well-oiled machine doesn’t have to break down due to complex build processes, or lack of time to enforce consistency.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 item">
							<div class="wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-13.png' %}">
								<div class="text">
									<h5 class="fw-500 heading">
										Output optimized images with one click
									</h5>
									<div class="spce"></div>
									<p>Your well-oiled machine doesn’t have to break down due to complex build processes, or lack of time to enforce consistency.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End feature -->


	<!-- Video -->
	<section class="sec-pad-lg pt-0 light text-center video-over">
		<div class="container">
			<div class="row">
				<div class="video-wrapper rad grdnt-orange wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<img  alt="" src="{% static 'image/bg-video.png' %}">
					<div class="text-center btn-over grad-orange">
						<a class="btn-round grdnt-orange video" href="https://www.youtube.com/watch?v=iaj8ktgL3BY"><i class="fa fa-play" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- // -->


	<!-- Tools -->
	<section class="tools bg-grad-shad sec-pad-lg">
		<div class="sec-pad-lg pb-0">
			<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
				<h4>Get more from your existing tools</h4>
				<div class="spce"></div>
				<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
			</div>
			<div class="owl-carousel pb-0 tools-carousel wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-1.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-2.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-3.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-4.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-5.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-6.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-7.png' %}">
				</div>
				<div class="tools-item">
					<img alt="" src="{% static 'image/tool-8.png' %}">
				</div>
			</div>
		</div>
	</section>
	<!-- // -->

	<!--Working Step -->
	<section class="step-section grdnt-orange bg-trans-4 sec-pad-lg light" id="step">
		<div class="container">
			<div class="row">
				<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<h4>3 simple steps to enjoy</h4>
				</div>
				<div class="steps text-center col-md-8 col-md-offset-2 grad-orange wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
					<div class="col-sm-4">
						<div class="step-list">
							<div class="number"><span class="clip-txt">1</span></div>
							<div class="icon-lg">
								<span class="ti-reddit"></span>
							</div>
							<h6 class="fw-500">
								Tailor your profile We not only cater to those up.
							</h6>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="step-list res-center-sm">
							<div class="number"><span class="clip-txt">2</span></div>
							<div class="icon-lg">
								<span class="ti-location-pin"></span>
							</div>
							<h6 class="fw-500">
								Explore nearby Whether you’re new to an area.
							</h6>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="step-list">
							<div class="number"><span class="clip-txt">3</span></div>
							<div class="icon-lg">
								<span class="ti-face-smile"></span>
							</div>
							<h6 class="fw-500">
								Make real connections We’re all about matching users.
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- // -->


	<!-- Overview -->
	<section class="about-section" id="overview">
		<div class="container">
			<div class="row sec-pad pb-0">
				<div class="col-md-10 col-md-offset-1">
					<div class="flx-container res-center-sm align-flx-center flx-off-xs row">
						<div class="col-sm-8 col-md-7 res-margin-sm">
							<div class="overview-img wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-10.png' %}">
							</div>
						</div>
						<div class="col-sm-4 col-md-5">
							<div class="overview-text wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<div class="text">
									<h4>Boost productivity without creativity</h4>
									<div class="spce"></div>
									<p>With a massive range of powerful new features with a gorgeous new interface, Our app is easier to use and more versatile than ever before.</p>
									<div class="spce sm"></div>
									<ul class="right-dir-col ft-list grad-orange">
	                                    <li class="clearfix">
	                                        <div class="icon-bg-sm">
	                                            <i class="ti-palette clip-txt"></i>
	                                        </div>
	                                        <div class="text">40+ design and code tutorials</div>
	                                    </li>
	                                    <li class="clearfix">
	                                        <div class="icon-bg-sm">
	                                            <i class="ti-bolt clip-txt"></i>
	                                        </div>
	                                        <div class="text">Inspiration from Apple iOS 7</div>
	                                    </li>
	                                    <li class="clearfix">
	                                        <div class="icon-bg-sm">
	                                            <i class="ti-power-off clip-txt"></i>
	                                        </div>
	                                        <div class="text">Available to the public, 100% FREE!</div>
	                                    </li>
	                                </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row sec-pad pt-0">
				<div class="col-md-10 col-md-offset-1">
					<div class="flx-container res-center-sm align-flx-center flx-off-xs row">
						<div class="col-sm-4 col-md-5 res-margin-sm">
							<div class="overview-text wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<div class="text">
									<h4>Create, collaborate, and celebrate</h4>
									<div class="spce"></div>
									<p>With a massive range of powerful new features with a gorgeous new interface, Our app is easier to use and more versatile than ever before.</p>
									<div class="spce"></div>
									<a href="#" class="btn grdnt-orange">Get It Now</a>
								</div>
							</div>
						</div>
						<div class="col-sm-8 col-md-7 res-margin-sm">
							<div class="overview-img wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
								<img alt="" src="{% static 'image/img-11.png' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- // -->


	<!-- Pricing -->
	<section id="pricing" class="sec-pad-lg bg-gray">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="pricing wrapper">
						<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<h4>Reasonable Pricing Plans</h4>
							<div class="spce"></div>
							<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
						</div>
						<div class="pricing text-center wow animated fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
							<div class="clearfix model">
								<div class="col-sm-4">
									<div class="pricing-table res-margin-sm">
										<div class="pricing-header">
											<div class="main-pricing">
												<h5>Free</h5>
												<h3 class="fw-400"><span class="rate">$0</span><span class="meta fw-300"> / month</span></h3>
											</div>
										</div>
										<div class="pricing-content">
											<div class="pricing-feature">
												<ul>
													<li>24/7 Support</li>
													<li>Free Update</li>
													<li>unimited download</li>
													<li>1 Year Licnese</li>
													<li>Source files</li>
												</ul>
											</div>
										</div>
										<div class="pricing-footer">
											<div class="pricing-footer">
												<a class="btn grdnt-orange" href="#">Try iT Now</a>
											</div>
										</div>
									</div>	
								</div>
								<div class="col-sm-4">
									<div class="pricing-table light grdnt-orange res-margin-sm">
										<div class="pricing-header">
											<div class="main-pricing">
												<h5>Popular Plan</h5>
												<h3 class="fw-400"><span class="rate">$20</span><span class="meta fw-300"> / month</span></h3>
											</div>
										</div>
										<div class="pricing-content">
											<div class="pricing-feature">
												<ul>
													<li>24/7 Support</li>
													<li>Free Update</li>
													<li>unimited download</li>
													<li>1 Year Licnese</li>
													<li>Source files</li>
												</ul>
											</div>
										</div>
										<div class="pricing-footer">
											<div class="pricing-footer">
												<a class="btn btn-white" href="#">Try iT Now</a>
											</div>
										</div>
									</div>	
								</div>
								<div class="col-sm-4">
									<div class="pricing-table res-margin-sm">
										<div class="pricing-header">
											<div class="main-pricing">
												<h5>Business Plan</h5>
												<h3 class="fw-400"><span class="rate">$100</span><span class="meta fw-300"> / month</span></h3>
											</div>
										</div>
										<div class="pricing-content">
											<div class="pricing-feature">
												<ul>
													<li>24/7 Support</li>
													<li>Free Update</li>
													<li>unimited download</li>
													<li>1 Year Licnese</li>
													<li>Source files</li>
												</ul>
											</div>
										</div>
										<div class="pricing-footer">
											<div class="pricing-footer">
												<a class="btn grdnt-orange" href="#">Try iT Now</a>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Pricing -->

	<!-- FAQS-->
	<section class="sec-pad-lg bg-dark light">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="faq-wrapper row">
							<div class="text-center section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
								<h4>Frequently Asked Quetions</h4>
									<div class="spce"></div>
									<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
							</div>
							<div class="row">
								<div class="faq-items right-dir-col col-md-8">
									<div class="col-sm-6 res-margin-sm wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>How to install ?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="col-sm-6 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Is this free ?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="spce lg"></div>
									<div class="col-sm-6 res-margin-sm wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Where i can get this?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="col-sm-6 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Can i get refund ?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="spce lg"></div>
									<div class="col-sm-6 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>Validity of use?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
									<div class="col-sm-6 res-margin-sm wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".2s">
										<div class="icon-bg-sm grdnt-orange">
		                                    <span class="clip-txt">?</span>
		                                </div>
										<div class="text">
											<h5>How to use this?</h5>
											<p>Focus on what matters—building a great user experience. Use your native visualization components.</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 wow  fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".3s">
									<img alt="" src="{% static 'image/img-faq.png' %}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--  -->


	<!--Call To Action -->
	<section class="grdnt-orange sec-pad bg-trans-4 light">
		<div class="container">
			<div class="row">
				<div class="text-center sec-pad-sm pt-0 section-text wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
					<h4>Join of our community of 20,0000 users of the world’s leading organizations</h4>
					<div class="btn-holder">
						<a href="#"><img alt="" src="{% static 'image/is-badge.png' %}"></a>
						<a href="#"><img alt="" src="{% static 'image/an-badge.png' %}"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End count -->

	<!--Count -->
	<section class="count-section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 count-over">
					<div class="row res-center-sm text-center grad-orange">
						<div class="col-sm-3 res-center-sm wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">789</span><span>M</span></h4>
									<p>Total Downloads</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">99</span><span>%</span></h4>
									<p>Page Speed</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 res-center-sm wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">10</span><span>+</span></h4>
									<p>Years Top Rating App</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
							<div class="item clearfix">
								<div class="text">
									<h4 class="heading clip-txt"><span class="counter mg-0">100</span><span>M</span></h4>
									<p>Happy Users</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End count -->


	<!-- Testimonial -->
	<section class="testimonial sec-pad-lg">
		<div class="text-center wow animated fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
			<h4>Trusted by teams at over 200,000 </h4>
			<div class="spce"></div>
			<p class="large fx-wdth">With a massive range of powerful new features with a gorgeous new interface, our app is easier to use and more.</p>
		</div>
		<div class="owl-carousel sec-pad pb-0 grad-yellow quote  quote-wrapper wow animated fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-2.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-3.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-2.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="quote-item clearfix">
				<img class="quote-img" alt="" src="{% static 'image/quote.png' %}">
				<div class="spce"></div>
				<div class="quote-text">
					<h5>“Mappox gives us a scalable, long-term solution for running our service, so we don’t have to jump from provider to provider as our business grows.”</h5>
					<div class="spce"></div>
					<div class="profile-img"><img alt="" src="{% static 'image/profile-img-3.jpg' %}"></div>
					<div class="profile clearfix">
						<h6 class="heading">Roger Bentham</h6>
						<p>Manager</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testimonial -->

{% endblock %}
